.bgWrapper {
  background-image: url('./assets/images/bg.jpg');
  min-height: 100vh;
  background-repeat: repeat-y;
  background-size: 100%;
}

.txtLandingPage_SearchText {
  height: 50px;
  width: 500px;
  border: 1px solid #bebebe;
  border-radius: 5px;
  margin: 0 auto;
  padding: 15px;
  font-size: 16px;
  box-shadow: 0 5px 8px black;
}

nav {
  padding: 10px 0px 0px 10px;
  display: inline-block;
  width: 100%;
  align-items: center;
  background-image: linear-gradient(354deg, rgb(46, 46, 46), rgb(52, 52, 52))
}

.menuItemsList {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

.landingMenuItems {
  display: flex;
  list-style: none;
  top: 40px;
  position: relative;
  float: right;
}

.NavBrand {
  float: left;
}

.navBrandLogo {
  text-decoration: none;
  color:#fff;
  font-family: 'Fredoka One', cursive;
  left: 25px;
  position: relative;
}

.navBrandLogo:hover {
  text-decoration: none;
  color: #ffe200;
}

.accessLinkDiv {
  float: right;
  position: relative;
  right: 35px;
  width: 200px;
}

.menuItemsList, .landingMenuItems li a {
  color: #fff;
  text-decoration: none;
}

.menuItemsList li a {
  color: #fff;
  text-decoration: none;
}

.menuItemsList li {
  padding: 3px 0px;
}

.landingMenuItems li {
  margin-right: 20px;
  font-weight: 600;
}

.fontAwesomeIconStyle {
  color: white;
}

.loader {
  top: 45vh;
  position: relative;
  text-align: center;
}

.loader span {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  margin: 50px auto;
  background: black;
  border-radius: 50px;
  -webkit-animation: loader 0.5s infinite alternate;
  animation: loader 0.5s infinite alternate;
}

.loader span:nth-of-type(2) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.loader span:nth-of-type(3) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

@-webkit-keyframes loader {
  0% {
    width: 10px;
    height: 10px;
    opacity: 0.9;
    -webkit-transform: translateY(0);
  }
  100% {
    width: 24px;
    height: 24px;
    opacity: 0.1;
    -webkit-transform: translateY(-21px);
  }
}

@keyframes loader {
  0% {
    width: 10px;
    height: 10px;
    opacity: 0.9;
    -moz-transform: translateY(0);
  }
  100% {
    width: 24px;
    height: 24px;
    opacity: 0.1;
    -moz-transform: translateY(-21px);
  }
}

@keyframes bookjump {
  0% {
    top: 20px;
  }
  100% {
    top: 30px;
  }
}

.bookIcon {
  position: relative;
  top: 25px;
  left: 50px;
  text-shadow: 2px 2px #000000;
  animation: bookjump 1s infinite alternate;
  color: #ffe200;
  z-index: 99999;
}

.loaderClass {
  display: block;
  position: relative;
  z-index: 9999999999999;
}

.arrowRight {
  text-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px;
  top: .5vh; 
  position: relative;
  right: 40px;
  color: #343434;
  z-index: 99999;
}

.brandName {
  text-decoration: none;
  color: #fff;
  align-items: center;
  font-family: 'Fredoka One', cursive;
  font-size: 90px;
  text-shadow: 2px 2px 64px #000000;
  position: relative;
  left:-15px;
  z-index: 99999;
}

input, select {
  padding: 5px;
  width: 100%;
  height: 40px;
  margin: 0;
  outline: none;
  font-size: 14px;
  color: #666;
  border-radius: 5px;
  border: 1px solid #a4a4a4;
}

.row {
  padding: 10px;
}

.sellTextArea {
  padding: 5px;
  width: 100%;
  max-height: 100px;
  min-height: 40px;
  font-size: 14px;
  color: #666;
  border-radius: 5px;
  border: 1px solid #a4a4a4;
}

.mainSearch {
  position: relative;
  text-align: center;
  top: 30vh;
  z-index: 99999;
}

.orgNameDiv {
  position: relative;
  text-align: center;
  top: 30vh;
  z-index: 99999;
}

.required {
  color: red;
}

.bread-crums {
  color:#808080;
  font-size: 10px;
  padding-left: 10px;
}

.page-title {
  color: #4d4d4d;
  font-size: 32px;
} 

.navLinks {
  float: right;
}

.contentActionBtn {
  text-align: right;
  top: 8px;
}

.btnStyling {
  width: 100px;
  height: 30px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #606060;
  letter-spacing: 1px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1), 0 2px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12)
}

.btnStyling:hover {
  background: #ccffb2;
  border: 1px solid #ccffb2;
}